<div class="container">
  <div class="exercise-list">
    <app-exercise-type-list-item
      *ngFor="let type of exercises$ | async"
      [name]="type.name"
      (view)="view(type)"
      (edit)="edit(type)"
      (remove)="remove(type)"
    ></app-exercise-type-list-item>
  </div>

  <app-exercise-details
    *ngIf="!!(currentlyViewing$ | async)"
    [type]="(currentlyViewing$ | async)!"
    class="details"
    (edit)="edit($event)"
  >
  </app-exercise-details>
</div>

<button id="add-button" mat-fab color="primary" (click)="edit()">
  <mat-icon>add</mat-icon>
</button>
