<div class="container">
  <mat-card *ngFor="let exercise of exercises$ | async">
    <mat-card-title>{{ exercise.name }}</mat-card-title>
    <mat-card-content>
      <p>{{ exercise.fields | displayFields }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent" (click)="edit(exercise)">
        Edit
      </button>
      <button mat-stroked-button color="accent">View History</button>
      <button mat-stroked-button color="accent" (click)="remove(exercise)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<button id="add-button" mat-fab color="primary" (click)="edit()">
  <mat-icon>add</mat-icon>
</button>
