.exercise {
  min-width: 40ex;
  margin: 0 1ex 1em;
}

.exercise-list {
  min-width: 40ex;
  margin-right: 2ex;
}

.chart-container {
  flex: 1;
  margin-bottom: 1em;
  height: 80vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 5ex;
}

#add-button {
  position: absolute;
  left: 5ex;
  bottom: 5vh;
}
