mat-card {
  min-width: 40ex;
  margin: 0.5em 1ex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  width: 70vw;
}

#add-button {
  position: absolute;
  right: 15vw;
  bottom: 5vh;
}
