@import "../../breakpoints.scss";

.header {
  margin: 0;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .actions {
    display: flex;
    flex-direction: row;
  }
}

.chart {
  display: block;
  height: 20em;
  margin-bottom: 2em;
}

@media (min-width: $breakpoint-mobile) {
  .header {
    margin-bottom: 0;

    .info {
      display: flex;
      flex-direction: row;

      div {
        margin-right: 2ex;
      }
    }
  }

  .best-efforts {
    span {
      margin-left: 2ex;
    }
  }

  .empty-history {
    margin-left: 2ex;
  }
}
