<div class="container">
  <span class="header">
    <h2>{{ type.name }}</h2>
    <span>Categories: {{ type.categories | displayCategories }}</span>
    <span>Display: {{ type.fields | displayFields }}</span>
    <button mat-icon-button color="accent" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </span>

  <app-exercise-chart
    [history]="history$ | async"
    [weightUnit]="weightUnit$ | async"
    class="chart"
  ></app-exercise-chart>

  <h3>History:</h3>
  <div class="history-container">
    <div class="history-entry" *ngFor=""></div>
  </div>
</div>
