<div>
  <span class="header">
    <h2>{{ type.name }}</h2>
    <span>Categories: {{ type.categories | displayCategories }}</span>
    <span>Display: {{ type.fields | displayFields }}</span>
    <button mat-icon-button color="accent" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </span>

  <app-exercise-chart
    [history]="(history$ | async)!"
    [weightUnit]="(weightUnit$ | async)!"
    class="chart"
  ></app-exercise-chart>

  <h3>Best Efforts:</h3>
  <div class="best-efforts">
    <span *ngIf="maxWeight$ | async">
      Max Weight: {{ maxWeight$ | async }}
    </span>
    <span *ngIf="maxReps$ | async"> Max Reps: {{ maxReps$ | async }} </span>
    <span *ngIf="maxDuration$ | async">
      Max Duration: {{ maxDuration$ | async }}
    </span>
    <span
      *ngIf="
        !(maxWeight$ | async) && !(maxReps$ | async) && !(maxDuration$ | async)
      "
      >Complete this exercise to see best efforts</span
    >
  </div>

  <h3>History:</h3>
  <div
    *ngIf="!!(history$ | async)?.length; else emptyHistory"
    class="history-container"
  >
    <app-exercise-history-item
      *ngFor="let workout of history$ | async"
      [workout]="workout"
    ></app-exercise-history-item>
  </div>

  <ng-template #emptyHistory
    ><span class="empty-history"
      >Complete this exercise to see its history</span
    ></ng-template
  >
</div>
