<h2 mat-dialog-title>Add an Exercise</h2>

<mat-dialog-content class="content">
  <mat-form-field class="select">
    <input
      type="text"
      placeholder="Select Exercise Type"
      matInput
      [formControl]="selected"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
      <mat-option
        *ngFor="let exercise of filteredExercises$ | async"
        [value]="exercise"
      >
        {{ exercise.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="createExercise()">
    Create New
  </button>
</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button mat-stroked-button color="accent" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="selected.value">
    Add to Workout
  </button>
</mat-dialog-actions>
