@import "../../shared.scss";

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  .sets {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2ex;

    .set {
      margin-left: 0.5em;
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .container {
    margin-left: 2ex;
  }
}
