<div class="container">
  <app-dashboard-card
    title="Start a Workout"
    subtitle="Record your reps, sets, weights, and times."
    [links]="[{ route: workoutRoute, title: 'Start' }]"
  ></app-dashboard-card>

  <app-dashboard-card
    title="View Workouts"
    subtitle="View a list of your previously completed workouts"
    [links]="[{ route: workoutLogRoute, title: 'View' }]"
  ></app-dashboard-card>

  <app-dashboard-card
    title="View Exercises"
    subtitle="View a list of exerises and your historical performance for each"
    [links]="[{ route: exercisesRoute, title: 'View' }]"
  ></app-dashboard-card>

  <app-dashboard-card
    title="Manage Data"
    subtitle="Import or export Fitness Tracker Data"
    [links]="[{ route: dataRoute, title: 'Manage' }]"
  ></app-dashboard-card>

  <app-dashboard-card
    title="Settings"
    subtitle="View and edit Fitness Tracker settings."
    [links]="[{ route: settingsRoute, title: 'Manage' }]"
  ></app-dashboard-card>
</div>
