@import "../../shared.scss";

.container {
  display: grid;
  grid-gap: 1em 2ex;
  grid-template-columns: auto;
  padding: 1em;
}

@media (min-width: $breakpoint-mobile) {
  .container {
    grid-template-columns: auto auto auto;
  }
}
