<div class="container" [formGroup]="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. Pushups" formControlName="name" />
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button (click)="addExercise()" color="accent">
      Add Exercise
    </button>
    <button mat-raised-button (click)="save()" color="accent">Save</button>
  </div>

  <div
    *ngFor="let exercise of exerciseForms.controls; let i = index"
    class="exercise"
  >
    <app-exercise-form [form]="getChildForm(i)"></app-exercise-form>
  </div>
</div>
