<div class="container" [formGroup]="form">
  <div class="name-date-container">
    <mat-form-field class="name">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Pushups" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="date">
      <mat-label>Workout Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="buttons">
    <button mat-raised-button (click)="addExercise()" color="accent">
      Add Exercise
    </button>
    <div>
      <button
        *ngIf="isEditingExisting$ | async"
        id="save-changes-button"
        mat-raised-button
        (click)="saveChanges()"
        color="accent"
      >
        Save Changes
      </button>
      <button mat-raised-button (click)="saveAsNew()" color="accent">
        Save as New
      </button>
    </div>
  </div>

  <div
    *ngFor="let exercise of exerciseForms.controls; let i = index"
    class="exercise"
  >
    <app-exercise-form
      [form]="getChildForm(i)"
      (up)="moveUp(i)"
      (down)="moveDown(i)"
      (remove)="remove(i)"
    ></app-exercise-form>
  </div>
</div>
