@import "../../breakpoints.scss";

$mobile-horizontal-padding: 1ex;

.container {
  padding: 1em $mobile-horizontal-padding;

  .name-date-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;

    #save-changes {
      margin-right: 1ex;
    }
  }

  .exercise {
    margin-bottom: 1em;
  }
}

@media (min-width: $breakpoint-mobile) {
  .container {
    width: 50%;
    min-width: calc(#{$breakpoint-mobile} - 4 * #{$mobile-horizontal-padding});
    margin: 3em auto;

    .name-date-container {
      flex-direction: row;

      .name {
        flex: 1;
      }

      .date {
        margin-left: 2ex;
      }
    }

    .buttons {
      margin-bottom: 3em;
    }
  }
}
