@import "./shared.scss";

.container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;

  .router-outlet {
    margin-top: $navbar-height;
  }
}

@media (min-width: $breakpoint-mobile) {
  .container {
    .router-outlet {
      margin-top: 0;
    }
  }
}
