<div class="container" *ngIf="availableSeriesNames.length > 0; else empty">
  <app-chart-toggle-legend
    class="legend"
    [series]="availableSeriesNames"
    [colors]="availableColors"
    (change)="onSeriesSelectedChange($event)"
  ></app-chart-toggle-legend>

  <ngx-charts-line-chart
    class="chart"
    [results]="seriesData"
    [xAxis]="true"
    [yAxis]="true"
    [autoScale]="false"
    [timeline]="true"
    xAxisLabel="Day"
    [yAxisLabel]="weightUnit"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [rotateXAxisTicks]="true"
    [legend]="false"
    [scheme]="colorScheme"
  >
  </ngx-charts-line-chart>
</div>

<ng-template #empty>
  <p>
    There is no data for this exercise type yet. Complete this exercise to see
    progress data.
  </p>
</ng-template>
