<div class="container">
  <h2>Import</h2>
  <p>Import data from a previous Fitness Center data export.</p>
  <input
    type="file"
    [value]="file"
    (change)="onFileChange($event)"
    accept=".json"
  />
  <button mat-raised-button color="primary" (click)="import()">Import</button>

  <h2>Export</h2>
  <p>
    Export all of your Fitness Center data in JSON format, so that you can
    import it later.
  </p>
  <a
    mat-raised-button
    color="primary"
    [href]="downloadUrl"
    download="fitness-center-export.json"
    >Export</a
  >
</div>
