.container {
  width: 50%;
  min-width: 40ex;
  margin: 3em auto;
}

mat-card {
  width: 100%;
  margin-bottom: 1em;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.chart {
  flex: 1;
  min-width: 40ex;
}

.exercise {
  margin-bottom: 0.5em;
}

.exercises {
  min-width: 40ex;
}

.exercise-name {
  font-weight: bold;
}

.set {
  margin-left: 1ex;
}
