<div class="container">
  <mat-card *ngFor="let workout of workouts$ | async">
    <mat-card-title>{{ workout.name }}</mat-card-title>
    <mat-card-subtitle>{{ workout.date | date }}</mat-card-subtitle>

    <mat-card-content class="content">
      <div class="exercises">
        <div class="exercise" *ngFor="let exercise of workout.exercises">
          <span class="exercise-name">{{ exercise.type.name }}:</span>
          <span class="set" *ngFor="let set of exercise.sets; let i = index">
            {{ set | set }}
          </span>
        </div>
      </div>
      <div class="chart">
        <ngx-charts-pie-chart
          [results]="workout.categoryData"
          [gradient]="false"
          [legend]="false"
          [labels]="true"
          [doughnut]="true"
        >
        </ngx-charts-pie-chart>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <a mat-raised-button color="accent" [routerLink]="workout.link">Edit</a>
      <button mat-raised-button color="accent" (click)="copyWorkout(workout)">
        Copy
      </button>
      <button mat-raised-button color="accent" (click)="deleteWorkout(workout)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
