<div class="container">
  <mat-card *ngFor="let workout of workouts$ | async">
    <mat-card-title>{{ workout.name }}</mat-card-title>
    <mat-card-subtitle>{{ workout.date | date }}</mat-card-subtitle>

    <mat-card-content>
      <div class="exercise" *ngFor="let exercise of workout.exerciseDisplays">
        <span class="exercise-name">{{ exercise.name }}:</span>
        <span class="set" *ngFor="let set of exercise.sets; let i = index">
          {{ set | set }}
        </span>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <a mat-raised-button color="accent" [routerLink]="workout.link">Edit</a>
      <button mat-raised-button color="accent" (click)="deleteWorkout(workout)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
