.container {
  width: 50%;
  min-width: 40ex;
  margin: 3em auto;
}

mat-card {
  width: 100%;
  margin-bottom: 1em;
}

.exercise {
  margin-bottom: 0.5em;
}

.exercise-name {
  font-weight: bold;
}

.set {
  margin-left: 1ex;
}
