@import "../../breakpoints.scss";

$mobile-horizontal-margin: 1ex;
$top-margin: 1em;

.container {
  margin: $top-margin $mobile-horizontal-margin;

  mat-card {
    margin-bottom: 1em;

    .content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;

      .exercise {
        margin-bottom: 0.5em;

        .exercise-name {
          font-weight: bold;
        }

        .set {
          margin-left: 1ex;
        }
      }

      .chart {
        height: 15em;
        max-width: calc(#{$breakpoint-mobile} / 2.5);
      }
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .container {
    width: 50%;
    min-width: calc(#{$breakpoint-mobile} - 4 * #{$mobile-horizontal-margin});
    margin: $top-margin auto;

    mat-card {
      width: 100%;

      .content {
        flex-direction: row;

        .exercises {
          width: calc(#{$breakpoint-mobile} / 2.5);
        }
      }
    }
  }
}
