@import "../../shared.scss";

.container {
  padding: 1em $mobile-horizontal-padding;
}

@media (min-width: $breakpoint-mobile) {
  .container {
    width: 50%;
    min-width: calc(#{$breakpoint-mobile} - 4 * #{$mobile-horizontal-padding});
    margin: 1em auto;
  }
}
