@import "../../shared.scss";

.title {
  flex: 1;
  margin-top: 0;
  font-size: large;
  margin-top: 0.5em;
}

.mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.previous-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.previous-set {
  margin-left: 1ex;
}
