<mat-card>
  <div mat-card-title>
    <span class="title">{{ type.name }}</span>
    <span>
      <button mat-icon-button (click)="moveUp()" color="accent">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <button mat-icon-button (click)="moveDown()" color="accent">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <button mat-icon-button (click)="removeExercise()" color="accent">
        <mat-icon>delete</mat-icon>
      </button>
    </span>
  </div>
  <mat-card-content>
    <div class="previous-container" *ngIf="previousEffort$ | async">
      <span
        >Last time ({{ (previousEffort$ | async)?.workoutDate | date }}):</span
      >
      <span
        *ngFor="let set of (previousEffort$ | async)?.sets"
        class="previous-set"
        >{{ set | set }}</span
      >
    </div>
    <div [formGroup]="form">
      <div [formArrayName]="SETS_ARRAY_KEY">
        <div
          *ngFor="let set of sets.controls; let i = index"
          [formGroupName]="i"
        >
          <app-set-form
            [form]="rawSets[i]"
            [type]="type"
            (remove)="removeSet(i)"
          ></app-set-form>
        </div>
      </div>
    </div>
  </mat-card-content>
  <button mat-button color="accent" (click)="addSet()">Add Set</button>
</mat-card>
