<div class="container">
  <h2 mat-dialog-title>Edit an Exercise</h2>

  <div mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Pushups" formControlName="name" />
    </mat-form-field>

    <div>
      <mat-checkbox formControlName="reps">Reps</mat-checkbox>
      <mat-checkbox formControlName="weight">Weight</mat-checkbox>
      <mat-checkbox formControlName="duration">Duration</mat-checkbox>
    </div>

    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select formControlName="categories" multiple>
        <mat-option
          *ngFor="let category of exerciseCategories"
          [value]="category"
          >{{ category }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="save()">Save</button>
  </mat-dialog-actions>
</div>
